<!-- search bar -->
{{> searchBar}}
<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      {{!-- change sorting list columns to rows--}}
      <div class="row row-cols-1 row-cols-md-3">
        {{!-- foreach loop for dynamic data--}}
        {{#each restaurants}}
        <a href="/restaurants/{{this.id}}" class="text-secondary mb-2 px-1 restaurant">
          <div class="card mb-3">
            <div class="cardImage">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              {{!-- Add favorite switch btn --}}
              <button class="favorite" onclick="location.href='/'">
                <i class="far fa-heart fa-lg regular"></i>
                <i class="fas fa-heart fa-lg solid"></i>
              </button>
            </div>

            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>